h1 {
    font-size: 90px;
    text-align: center;
    margin-bottom: 7%;
}

#excel-form {
    width: 40%;
    margin-left: 10%;
    float: left;
}

.btn-container .btn {
    width: 125px;
}

.results-btncontainer {
    display: flex;
    justify-content: center;
}

#copy-button {
    width: 150px;
    background-color: #00A36C; 
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-top: none;
    border-left: 2px solid #ccc;
    border-right: none;
    border-bottom: 2px solid #ccc;
    border-bottom-left-radius: 5px;
  }
  
  #copy-button:hover {
    background-color:#2E8B57; 
  }

  #clearResults-button {
    width: 150px;
    background-color: #dc3545; 
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 0; 
    cursor: pointer;
    border-top: none;
    border-left: none;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    border-bottom-right-radius: 5px;
  }
  
  #clearResults-button:hover {
    background-color:#c82333; 
  }

#result-div {
    display: grid;
    width: 40%;
    margin-right: 10%;
    float: right;
}

#results-header {
    margin: auto;
    padding-bottom: 5px;
}

#results-generated {
    margin: auto;
}

#results {
    width: 300px; 
    height: 250px; 
    padding: 10px; 
    font-size: 16px; 
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: none;
    border-radius: 10px 10px 0 0; 
    margin: auto;
}